.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.box {
    width: 400px;
    height: 170px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
}

.space {
    width: 25px;
    height: 170px;
    background-color: white;
    margin: 0 auto;
    float: left;
}

.white-bar {
    width: 1300px;
    height: 15px;
    background-color: white;
    margin: 0 auto;
    float: left;
}

#container {
    width: 1305px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    width: 400px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    float: left;
    text-align: center;
    font-size: 45px;
}

.title-space {
    width: 25px;
    height: 60px;
    background-color: white;
    margin: 0 auto;
    float: left;
}

.new-style {
    padding-bottom: 10px;
}